
.tour-details {
  margin-left: 100px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tour-details .card {
  
  border: 1px solid #080808;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.tour-details .card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/*h2*/
.tour-details .card h2 {
  font-size: 16px;
  margin-top: 10px;
  align-self: center;
}